* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
header nav {
  width: 77%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .rr1 {
  display: flex;
  justify-content: end;
  margin: auto;
}

main .all1 {
  width: 100%;
  height: 651px;
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: #D4EAF5;
  align-items: center;
}
main .all1 .div1 {
  width: 50%;
  height: 651px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
main .all1 .div1 .words {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
main .all1 .div1 .words h1 {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: #052C43;
}
main .all1 .div1 .words h6 {
  width: 66%;
  font-size: 45px;
  line-height: 54px;
  font-weight: 200;
  color: #052C43;
}
main .all1 .div1 .words p {
  width: 66%;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  color: #052C43;
}
main .all1 .div1 .words button {
  width: 30%;
  height: 40px;
  color: #052C43;
  border-radius: 21px;
  border: 1px solid #bcdaea;
}
main .all1 img {
  width: 50%;
  height: 100%;
}
main .a1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  gap: 7px;
}
main .a1 .k1 {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  overflow: hidden;
  height: 290px;
  width: 24%;
}
main .a1 .k1 .ghost {
  width: 99px;
  height: 99px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .a1 .k1 .ghost i {
  font-size: 66px;
}
main .sec {
  padding-top: 7px;
  position: relative;
  overflow: hidden;
}
main .sec img {
  width: 100%;
  height: 651px;
}
main .sec .sec1 {
  width: 50%;
  height: 400px;
  top: 20%;
  left: 50%;
  z-index: 1;
  position: absolute;
}
main .sec .sec1 .i1 {
  gap: 21px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
main .sec .sec1 .i1 .i2 {
  width: 11%;
  height: 66px;
  border-radius: 50%;
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .sec .sec1 .i1 a {
  cursor: pointer;
  color: orangered;
  text-decoration: none;
  font-size: 16px;
  line-height: 29px;
  font-weight: 600;
}
main .d1 {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .d1 h3 {
  font-size: 38px;
  line-height: 53px;
  font-weight: 500;
}
main .d1 p {
  color: gray;
  text-align: center;
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
}
main .blue {
  background-color: #D4EAF5;
}
main .blue .blue1 {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
main .blue .blue1 span {
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
  color: gray;
}
main .blue .blue1 h1 {
  font-size: 38px;
  line-height: 53px;
  font-weight: 500;
}
main .blue .blues {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .blue .blues .blue2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .blue .blues .blue2 h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: black;
}
main .blue .blues .blue2 p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  color: gray;
}
main .seca .sec2 {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
main .seca .sec2 span {
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
  color: gray;
}
main .seca .sec2 h1 {
  font-size: 38px;
  line-height: 53px;
  font-weight: 500;
}
main .row1 {
  width: 100%;
  height: 300px;
  position: relative;
  padding: 21px;
  display: flex;
}
main .row1 .ii1 {
  background-color: white;
}
main .row1 .i2 {
  position: absolute;
  top: -14px;
  width: 50px;
  height: 50px;
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
main .row1 .i2 i {
  font-size: 21px;
}
main .row1 .p1 {
  padding: 14px;
}
main .row1 .p1 p {
  color: gray;
}
main .row1 .names {
  display: flex;
  justify-content: start;
  padding: 21px;
  gap: 7px;
}
main .row1 .names img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
main .row1 .names .ii {
  padding-top: 14px;
}
main .row1 .names h1 {
  font-size: 21px;
  color: orangered;
}
main .row1 .names p {
  font-size: 14px;
  color: gray;
}
main .sec3 .sec4 {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
main .sec3 .sec4 span {
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
  color: gray;
}
main .sec3 .sec4 h1 {
  font-size: 38px;
  line-height: 53px;
  font-weight: 500;
}
main .row2 {
  width: 100%;
  height: 400px;
}
main .row2 .collas {
  gap: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .row2 .collas .col1 {
  border: 1px solid gray;
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  width: 99px;
  height: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .row2 .collas .col1 .p2 {
  position: absolute;
  top: -14%;
  right: 0%;
  padding: 7px;
  background-color: #ff5900;
  border-radius: 50%;
  color: white;
}
main .row2 .collas .col1 .wordz {
  text-align: center;
}
main .row2 .collas .col1 .wordz h1 {
  text-align: center;
}
main .row2 .collas .col1 i {
  font-size: 40px;
}
main .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
main .btn button {
  background-color: #ff5900;
  color: white;
  width: 14%;
  height: 50px;
  border-radius: 24px;
  border: none;
}
main .sec5 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
main .sec5 .sec6 {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
main .sec5 .sec6 span {
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
  color: gray;
}
main .sec5 .sec6 h1 {
  font-size: 38px;
  line-height: 53px;
  font-weight: 500;
}
main .tt1 {
  gap: 14px;
  display: flex;
  justify-content: center;
}
main .tt1 .tt2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
main .tt1 .tt2 .z1 {
  width: 100%;
  height: 250px;
}
main .tt1 .tt2 .z1 img {
  width: 100%;
  height: 250px;
}
main .tt1 .z2 {
  background-color: #FAFAFA;
  padding: 14px;
}
main .tt1 .z2 .z3 {
  gap: 7px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
main .tt1 .z2 .z3 p {
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
}
main .tt1 .z2 .wordd h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
main .tt1 .z2 .wordd p {
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
}

footer .footer1 {
  width: 100%;
  height: 400px;
  background-color: #D4EAF5;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer1 .r3 .icon {
  gap: 7px;
  display: flex;
  flex-direction: row;
}
footer .footer1 .r3 .icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 21px;
  height: 21px;
  border-radius: 3px;
  background-color: #005eff;
}
footer .footer1 .r3 h1 {
  font-size: 24px;
}
footer .footer1 .r3 .c1 .imagez {
  gap: 7px;
  display: flex;
}
footer .footer1 .r3 .c1 .imagez h3 {
  font-size: 16px;
}
footer .footer1 .r3 .c1 .imagez .z4 {
  display: flex;
}
footer .footer1 .r3 .c1 .imagez .z4 p {
  font-size: 12px;
}
footer .end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 148px;
  background-color: #ABD6EB;
}
footer .end p a {
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  header {
    background-color: #052C43;
  }
  header nav .navbar-brand {
    color: white;
  }
  header nav .rr1 ul li a {
    color: white;
  }
  main .tt1 .tt2 {
    display: block;
  }
  main .btn {
    display: none;
  }
  main .sec3 .sec4 {
    height: 455px;
  }
  main .a1 .k1 {
    width: 45%;
  }
  main .a1 .k1 h2 {
    font-size: 18px;
  }
  main .a1 .k1 p {
    font-size: 14px;
  }
  main .a1 .k1 .ghost i {
    font-size: 33px;
  }
  main .all1 .div1 .words button {
    display: none;
  }
  main .all1 .div1 .words h1 {
    font-size: 21px;
  }
  main .all1 .div1 .words h6 {
    font-size: 33px;
  }
  main .all1 .div1 .words .p {
    font-size: 21px;
  }
  main .blue {
    height: 391px;
  }
  main .blue .blue1 {
    display: flex;
    justify-content: center;
  }
  main .blue .blue1 span {
    font-size: 14px;
  }
  main .blue .blue1 h1 {
    font-size: 21px;
  }
  main .blue .blues {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main .blue .blues .blue2 {
    height: 66px;
  }
  main .blue .blues .blue2 h1 {
    font-size: 33px;
  }
  main .blue .blues .blue2 p {
    font-size: 14px;
  }
  footer .footer1 {
    height: 456px;
  }
}
@media only screen and (max-width: 551px) {
  main .sec5 {
    height: 500px;
  }
  main .sec .sec1 .i1 {
    display: none;
  }
  main .a1 .k1 {
    width: 95%;
  }
  main .all1 .div1 .words h6 {
    display: none;
  }
  main .tt1 .tt2 {
    display: contents;
  }
  main .sec3 .sec4 {
    height: 800px;
  }
  footer .footer1 {
    height: 900px;
  }
  footer .footer1 .r3 {
    gap: 21px;
  }
}